.Login-Wrapper {
    height: 100vh;
    background-color: rgb(0, 0, 0);
    background-image: url('../assets/frontpage.png');
}

.Login {
    width: 300px;
    height: min-content;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 25px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075) inset, 0 0 25px rgb(235, 191, 13);
    outline: 0 none;
}

.Login-Form-Group {
    text-align: left;
}

.Login-Form-Group input[type='email']:focus,
.Login-Form-Group input[type='password']:focus {
    border-color: rgba(182, 102, 16, 0.8);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075) inset, 0 0 10px rgb(235, 191, 13);
    outline: 0 none;
}
